body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    /* height: 6rem;
    width: 100vw; */
    background: linear-gradient(135deg, #528ac5 50%, black 50%);
    display: flex;
    z-index: 10;
}

.text-right {
    height: 6rem;
    width: 100vw;
    background-color: #528ac5;
    top: 0;
    text-align: center;
}

.nav_bar {
    position: fixed;
    z-index: 10;
    background: black;
}

/*Styling logo*/
.logo {
    padding: 1vh 1vw;
    text-align: center;
}

.logo img {
    height: 5rem;
    width: 5rem;
}

/*Styling Links*/
.nav-links {
    display: flex;
    list-style: none;
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;

}

.nav-links li a {
    text-decoration: none;
    margin: 0 0.7vw;
}

.nav-links li .m_nav_item:hover {
    color: #61DAFB;
    background-color: black;
}

.nav-links li {
    position: relative;
}

.nav-links li a::before {

    background-color: #61DAFB;
    position: absolute;
    transition: all ease-in-out 250ms;

}
.nav-links li a .addrs{
    background-color: #131418;
    color: #21c0ff;
}
.nav-links li a:hover::before {
    width: 80%;
}

/*Styling Buttons*/
.login-button {
    border: 1px transparent;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    color: #eeeeee;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 20px;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    margin-left: 20px;
    -webkit-animation: glowing 1300ms infinite;
    -moz-animation: glowing 1300ms infinite;
    -o-animation: glowing 1300ms infinite;
    animation: glowing 1300ms infinite;

    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: blue;
}

.login-button:hover {
    color: white;
    background-color: green;
    border: 1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

.join-button {
    background-color: green;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    font-size: 15px;
    cursor: pointer;
    color: white;

}

.join-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border: 1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div {
    width: 30px;
    height: 3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger {
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 1040px) {
    .nav-links {
        font-size: 13px;
    }
}

@media screen and (max-width: 1000px) {
    .text-right {
        width: 100vw;
        background-color: #528ac5;
        text-align: center;
    }

    .nav_bar {
        position: fixed;
        z-index: 10;
    }

    nav {
        position: fixed;
        z-index: 10;
    }

    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }

    .nav-links {
        position: fixed;
        background: #528ac5;
        height: 90%;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }

    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
    }

    .nav-links li:nth-child(6) {
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }

    .nav-links li:nth-child(7) {
        transition: all 0.5s ease 1s;
        margin: 0;
    }

    li.fade {
        opacity: 1;
    }
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Dropdown menu styles */
.nav-links li .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.nav-links li:hover .dropdown-menu {
    display: block;
}

@media(max-width:760px) {
    #hide-header-text {
        display: none;
    }
}

.m_nav_item:hover {
    border-top: solid 1px white;
    background: black;
    font-weight: bold !important;
    color: black;
}

.m_nav_item a {
    color: white;
}

.m_nav_item .addrs {
    padding-left: 2px !important;
    margin-left: 2px !important;
    padding-right: 2px !important;
    margin-right: 2px !important;
}

.dlink {
    color: white;
}

.dlink:hover {
    color: black;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transition: width 0.5s ease, transform 0.5s ease;
    z-index: 10000;
}

.popup {
    background: #fff;
    padding: 0px;
    border-radius: 5px;
    text-align: center;
    max-width: 500px;
    transform: translateY(-50px) rotate(0deg);
    animation: fadeInAndRotate 1.5s ease;
    /* Animation for fade-in and rotation */
    z-index: 10000;
    transition: background 0.5s ease, transform 0.5s ease;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

@keyframes fadeInAndRotate {
    0% {
        opacity: 0;
        transform: translateY(-100%) rotate(0deg);
        transform: translateX(-50%) rotate(100deg);
        z-index: 10000;
    }

    25% {
        opacity: 0.2;
        transform: translateY(-100%) rotate(180deg);
        transform: translateX(-50%) rotate(200deg);
        background: linear-gradient(to right, white, blue);
        z-index: 10000;
    }

    50% {
        opacity: 0.5;
        transform: translateY(-100%) rotate(80deg);
        transform: translateX(50%) rotate(100deg);
        background: linear-gradient(to right, white, blue);
        z-index: 10000;
    }

    75% {
        opacity: 0.7;
        transform: translateY(-100%) rotate(180deg);
        transform: translateX(-50%) rotate(200deg);
        background: linear-gradient(to right, white, blue);
        z-index: 10000;
    }

    100% {
        opacity: 1;
        transform: translateY(-100%) rotate(360deg);
        transform: translateX(-50%) rotate(300deg);
        width: 500px;
        background: linear-gradient(to right, blue, white);
        z-index: 10000;
    }
}


@media(max-width:768px) {
    .popup {
        margin-top: 60%;
    }
}

/*******************************/
/**************INDEX***********/
/*****************************/

body {
    transition: 1s ease;
    font-family: verdana;
}

.loader {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.5rem;
}

.ring {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.ring::before {
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
        box-shadow: 0px 5px 5px #ff2121;
    }

    25% {
        transform: rotate(90deg);
        box-shadow: 0px 5px 5px #fffb21;
    }

    50% {
        transform: rotate(180deg);
        box-shadow: 0px 5px 5px #21c0ff;
    }

    75% {
        transform: rotate(270deg);
        box-shadow: 0px 5px 5px #bc21ff;
    }

    100% {
        transform: rotate(360deg);
        box-shadow: 0px 5px 5px #ff2121;
    }
}
/* INDEX */

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transition: width 0.5s ease, transform 0.5s ease;
    z-index:10000;
}

.popup {
    background: #fff;
    padding: 0px;
    border-radius: 5px;
    text-align: center;
    max-width: 500px;
    transform: translateY(-50px) rotate(0deg);
    animation: fadeInAndRotate 1.5s ease; /* Animation for fade-in and rotation */
    z-index:10000;
    transition: background 0.5s ease, transform 0.5s ease;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

@keyframes fadeInAndRotate {
    0% {
        opacity: 0;
        transform: translateY(-100%) rotate(0deg);
        transform: translateX(-50%) rotate(100deg);
        z-index:10000;
    }
    25% {
        opacity: 0.2;
        transform: translateY(-100%) rotate(180deg);
        transform: translateX(-50%) rotate(200deg);
        background:linear-gradient(to right,white,blue);
        z-index:10000;
    }
    
    50% {
        opacity: 0.5;
        transform: translateY(-100%) rotate(80deg);
        transform: translateX(50%) rotate(100deg);
        background:linear-gradient(to right,white,blue);
        z-index:10000;
    }
    
     75% {
        opacity: 0.7;
        transform: translateY(-100%) rotate(180deg);
        transform: translateX(-50%) rotate(200deg);
        background:linear-gradient(to right,white,blue);
        z-index:10000;
    }
    
    100% {
        opacity: 1;
        transform: translateY(-100%) rotate(360deg);
        transform: translateX(-50%) rotate(300deg);
        width:500px;
        background:linear-gradient(to right,blue,white);
        z-index:10000;
    }
}


@media(max-width:768px){
    .popup{
        margin-top:60%;
    }
}
.hover01{
    position: relative;
    overflow: hidden;
    width: 100%;
    overflow: hidden;
    height: 40vh;
    
}
.hover01 img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}
.hover01:hover img{
    transform: scale(1.5);
}